# Ignorar todos los node_modules del proyecto
**/node_modules/

# Ignorar todos los archivos .env
**/.env

# Ignorar logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Cachés comunes
**/.cache/
**/.next/
**/dist/
**/build/

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuración de editores
.vscode/
.idea/

# Si usas Git en submódulos, puedes ignorar también:
**/.git/
